<ss-menu-breadcrumb [items]="['دوره ها']"></ss-menu-breadcrumb>
<div class="card p-10 mt-10">
    <ss-data-table [datatable]="datatable"></ss-data-table>
</div>
<ss-overlay-modal [modal]="deleteModal" modal-title="حذف">
    <page-course-delete *ngIf="deleteModal.iscontentShow" [id]="row?.value.id" (oncomplete)="deleteComplete($event)"></page-course-delete>
</ss-overlay-modal>