<div class="container-xxs">
  <div class="form-group my-5">
    <input class="form-control" type="text" [ngModel]="obj?.name" readonly />
    <label>نام : </label>
  </div>
  <div class="form-group my-5">
    <input class="form-control" type="text" [ngModel]="obj?.symbol" readonly />
    <label>نماد : </label>
  </div>
  <div class="form-group my-5">
    <input class="form-control" type="text" [ngModel]="obj?.parent?.name" readonly />
    <label>دسته پدر : </label>
  </div>
</div>
