<form [formGroup]="form" autocomplete="off">

  <div class="my-10">
    <button class="btn-green ml-5" [ngClass]="{progress:progress}" [disabled]="form.invalid || progress" (click)="confirm()">ثبت</button>
    <a class="btn-red" (click)="cancel()">انصراف</a>
  </div>
  <div *ngIf="message" class="alert-red">{{message}}</div>
</form>