<ss-menu-breadcrumb [items]="['کاربران']"></ss-menu-breadcrumb>
<div class="card p-10 mt-10">
    <ss-data-table [datatable]="datatable"></ss-data-table>
</div>
<ss-overlay-modal [modal]="insertModal" modal-title="جدید">
    <page-user-create *ngIf="insertModal.iscontentShow" (oncomplete)="insertComplete($event)"></page-user-create>
</ss-overlay-modal>
<ss-overlay-modal [modal]="detailModal" modal-title="جزئیات">
    <page-user-detail *ngIf="detailModal.iscontentShow" [id]="row?.value.id"></page-user-detail>
</ss-overlay-modal>
<ss-overlay-modal [modal]="updateModal" modal-title="ویرایش">
    <page-user-edit *ngIf="updateModal.iscontentShow" [id]="row?.value.id" (oncomplete)="updateComplete($event)"></page-user-edit>
</ss-overlay-modal>
<ss-overlay-modal [modal]="deleteModal" modal-title="حذف">
    <page-user-delete *ngIf="deleteModal.iscontentShow" [id]="row?.value.id" (oncomplete)="deleteComplete($event)"></page-user-delete>
</ss-overlay-modal>