<ss-menu-breadcrumb [items]="['درس ها','افزودن']"></ss-menu-breadcrumb>
<form #form="ngForm" autocomplete="off">
  <app-post [post]="obj.post" [progress]="progress" (oncomplete)="complete($event)">
    <div right class="card my-10 p-10">
      <ss-input-dropdown *ngIf="!courseId" label="دوره : " [items]="courses" [value]="courseText()" [(ngModel)]="obj.course"
        name="course" required></ss-input-dropdown>
      <div class="my-10 form-group">
        <input class="form-control" type="text" [(ngModel)]="obj.url" name="url" required placeholder="http://example.com">
        <label>آدرس ویدیئو : </label>
      </div>
      <div class="my-10 form-group">
        <input class="form-control" type="text" [(ngModel)]="obj.time" name="time" required placeholder="4200">
        <label>زمان (ثانیه) : </label>
      </div>
      <div class="my-10 font-12">
        <input id="isFree" class="checkbox-blue" type="checkbox" [(ngModel)]="obj.isFree" name="isFree" [value]="true">
        <label for="isFree">درس رایگان می باشد</label>
      </div>
    </div>
  </app-post>
  <div *ngIf="message" class="alert-red">{{message}}</div>
</form>
