$color: #fd7000;
$size: 12px;
$time: 1;
body {
  position:fixed;
  top: 0;
  right: 0;
  width:100%;
  height:100%;
  margin:0;
  >app-root>main {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    display: flex;
    opacity: 1;
    z-index: 1000000;
    justify-content: center;
    align-items: center;
    background: #090707;
    transition: opacity 500ms ease;
    .dank-ass-loader {
      display: flex;
      flex-direction: column;
      align-items: center;
      .row {
        width: auto;
        display: flex;
      }
    }
    .arrow {
      width: 0;
      height: 0;
      margin: 0 (-$size / 2);
      border-left: $size solid transparent;
      border-right: $size solid transparent;
      border-bottom: ($size * 1.8) solid $color;
      animation: blink $time + s infinite;
      filter: drop-shadow(0 0 ($size * 1.5) $color);
      &.down {
        transform: rotate(180deg);
      }
      @for $i from 1 through 18 {
        &.outer-#{$i} {
          animation-delay: -($time / 18) * $i + s;
        }
      }
      @for $i from 1 through 6 {
        &.inner-#{$i} {
          animation-delay: -($time / 6) * $i + s;
        }
      }
    }
    @keyframes blink {
      0% {
        opacity: 0.1;
      }
      30% {
        opacity: 1;
      }
      100% {
        opacity: 0.1;
      }
    }
  }
}
