<ss-menu-breadcrumb [items]="['درس ها', course ? course.post.title : '']"></ss-menu-breadcrumb>
<div class="card p-10 mt-10">
    <ss-data-table [datatable]="datatable"></ss-data-table>
</div>
<ss-overlay-modal [modal]="deleteModal" modal-title="حذف">
    <page-lesson-delete *ngIf="deleteModal.iscontentShow" [id]="row?.value.id" (oncomplete)="deleteComplete($event)"></page-lesson-delete>
</ss-overlay-modal>