<ss-menu-breadcrumb [items]="['دوره ها','ویرایش']"></ss-menu-breadcrumb>
<form #form="ngForm" autocomplete="off">
  <app-post [post]="obj.post" [progress]="progress" (oncomplete)="complete($event)">
    <div right class="card my-10 p-10">
      <ss-input-dropdown right label="مدرس : " [items]="teachers" [compareWith]="global.compareWithId" value="name"
        [(ngModel)]="obj.teacher" name="teacher" required></ss-input-dropdown>
      <div class="form-group my-5">
        <select class="form-control" [compareWith]="global.compareWithKey" [(ngModel)]="obj.type" name="type" required>
          <option [ngValue]="undefined">انتخاب کنید ...</option>
          <option *ngFor="let item of types" [ngValue]="item">{{item.value}}</option>
        </select>
        <label>نوع : </label>
      </div>
      <div class="form-group" *ngIf="obj.type?.key == 2">
        <input type="number" class="form-control" [(ngModel)]="obj.price" name="price" required min="0">
        <label>قیمت : </label>
      </div>
      <div class="form-group my-5">
        <select class="form-control" [compareWith]="global.compareWithKey" [(ngModel)]="obj.status" name="status" required>
          <option [ngValue]="undefined">انتخاب کنید ...</option>
          <option *ngFor="let item of statuses" [ngValue]="item">{{item.value}}</option>
        </select>
        <label>وضعیت : </label>
      </div>
    </div>
  </app-post>
  <div *ngIf="message" class="alert-red">{{message}}</div>
</form>
