<div class="container-xxs">
  <div class="form-group my-5">
    <input class="form-control" [ngModel]="obj?.name" type="text" maxlength="50" readonly>
    <label>نام :</label>
  </div>
  <div class="form-group my-5">
    <input class="form-control" [ngModel]="obj?.symbol" type="text" maxlength="50" readonly>
    <label>نماد :</label>
  </div>
  <div class="form-group my-5">
    <input class="form-control" [ngModel]="obj?.price" type="number" readonly>
    <label>قیمت (تومان) :</label>
  </div>
  <div class="form-group my-5">
    <input class="form-control" [ngModel]="obj?.duration" type="number" readonly>
    <label>مدت (روز) :</label>
  </div>
  <div class="form-group my-5">
    <input class="form-control" [ngModel]="obj?.status?.value" readonly>
    <label>وضعیت :</label>
  </div>
</div>
