<ss-menu-breadcrumb [items]="['مقالات ها','افزودن']"></ss-menu-breadcrumb>
<form #form="ngForm" autocomplete="off">
  <app-post [post]="obj.post" [progress]="progress" (oncomplete)="complete($event)"></app-post>
  <div *ngIf="message" class="alert-red">{{message}}</div>
</form>
