<form class="container-xxs" #form="ngForm" autocomplete="off">
  <div class="form-group my-5">
    <input class="form-control" [(ngModel)]="obj.name" name="name" type="text" maxlength="50" required>
    <label>نام :</label>
  </div>
  <div class="form-group my-5">
    <input class="form-control" [(ngModel)]="obj.symbol" name="symbol" type="text" maxlength="50" required>
    <label>نماد :</label>
  </div>
  <div class="form-group my-5">
    <input class="form-control" [(ngModel)]="obj.price" name="price" type="number" required>
    <label>قیمت (تومان) :</label>
  </div>
  <div class="form-group my-5">
    <input class="form-control" [(ngModel)]="obj.duration" name="duration" type="number" required>
    <label>مدت (روز) :</label>
  </div>
  <div class="form-group my-5">
    <select class="form-control" [(ngModel)]="obj.status" name="status" required>
      <option [ngValue]="undefined">انخاب کنید ...</option>
      <option *ngFor="let item of statuses" [ngValue]="item">{{item.value}}</option>
    </select>
    <label>وضعیت :</label>
  </div>
  <div class="my-10">
    <button class="btn-green ml-5" [ngClass]="{progress:progress}" [disabled]="form.invalid || progress" (click)="confirm()">ثبت</button>
    <a class="btn-red" (click)="cancel()">انصراف</a>
  </div>
  <div *ngIf="message" class="alert-red">{{message}}</div>
</form>
