<ss-menu-breadcrumb [items]="['نظرات']"></ss-menu-breadcrumb>
<div class="card p-10 mt-10">
    <ss-data-table [datatable]="datatable"></ss-data-table>
</div>
<ss-overlay-modal [modal]="insertModal" modal-title="جدید">
    <page-comment-create *ngIf="insertModal.iscontentShow" (oncomplete)="insertComplete($event)"></page-comment-create>
</ss-overlay-modal>
<ss-overlay-modal [modal]="detailModal" modal-title="جزئیات">
    <page-comment-detail *ngIf="detailModal.iscontentShow" [id]="row?.value.id"></page-comment-detail>
</ss-overlay-modal>
<ss-overlay-modal [modal]="updateModal" modal-title="ویرایش">
    <page-comment-edit *ngIf="updateModal.iscontentShow" [id]="row?.value.id" (oncomplete)="updateComplete($event)"></page-comment-edit>
</ss-overlay-modal>
<ss-overlay-modal [modal]="deleteModal" modal-title="حذف">
    <page-comment-delete *ngIf="deleteModal.iscontentShow" [id]="row?.value.id" (oncomplete)="deleteComplete($event)"></page-comment-delete>
</ss-overlay-modal>