<p>آیا از حذف این درس اطمینان دارید ؟</p>
<div>
    <button class="btn-green ml-5" [ngClass]="{progress:progress}" [disabled]="progress" (click)="confirm()">تایید</button>
    <a class="btn-red" (click)="cancel()">انصراف</a>
</div>
<div *ngIf="message" class="alert-red mt-10">{{message}}</div>