ckeditor /deep/ .ck-editor__editable {
    direction: rtl;
}
.description /deep/ .ck-editor__editable {
    min-height: 100px;
}
.body /deep/ .ck-editor__editable {
    min-height: 300px;
    max-height: 400px;
    overflow-y: auto;
}
.tags {
    margin:0;
    padding:0;
    font-size: 12px;
    color: #999;
    list-style: none;
    li {
        display: inline-block;
        padding: 5px 10px;
        background-color: #eee;
        border-radius: 3px;
        margin: 4px;
    }
}
.tags .remove, .links .remove {
    color: rgb(204, 81, 81);
}