<form #form="ngForm" autocomplete="off" class="row">
  <div class="col-md-3 col-sm-4 p-5">
    <div class="card my-10 p-10">
      <h5 class="px-10"><i class="mdi mdi-tag-outline font-16 color-sky ml-5"></i> تگ ها</h5>
      <hr>
      <div class="row">
        <div class="px-5" style="flex:1;"><input class="form-control" type="text" placeholder="تگ + Enter" (keydown.enter)="addTag(tag)"
            #tag></div>
        <div class="px-5"><a class="btn-green" (click)="addTag(tag)">افزودن</a></div>
      </div>
      <ul class="tags">
        <li *ngFor="let item of obj?.tags">{{item}} <a class="remove" (click)="removeTag(item)"><i class="mdi mdi-close"></i></a></li>
      </ul>
    </div>
    <div class="card my-5 p-10">
      <h5 class="px-10"><i class="mdi mdi-link font-16 color-turquise ml-5"></i> لینک ها</h5>
      <hr>
      <div class="row">
        <div class="px-5" style="flex:1;"><input class="form-control" placeholder="عنوان لینک" (keydown.enter)="addLink(link)"
            #link /></div>
        <div class="px-5"><a class="btn-green" (click)="addLink(link)">افزودن</a></div>
      </div>
      <div class="links">
        <div *ngFor="let item of obj?.links;let index = index" class="form-group my-5">
          <input class="form-control" type="text" [(ngModel)]="item.value" name="link-{{index}}" />
          <label> <a class="remove" (click)="removeLink(item)"><i class="mdi mdi-close"></i></a> {{item.name}}</label>
        </div>
      </div>
    </div>
    <div class="card my-10 p-10">
      <h5 class="px-10"><i class="mdi mdi-information-outline font-16 color-sky-dark ml-5"></i> دیگر اطلاعات</h5>
      <hr>
      <ss-input-dropdown class="my-5" label="مطلب قبلی" [items]="posts" value="title" [(ngModel)]="obj.prevPost" name="prevPost"></ss-input-dropdown>
      <ss-input-dropdown class="my-5" label="مطلب بعدی" [items]="posts" value="title" [(ngModel)]="obj.nextPost" name="nextPost"></ss-input-dropdown>
      <ss-input-dropdown class="my-5" label="مطلب مرجع" [items]="posts" value="title" [(ngModel)]="obj.parent" name="parent"></ss-input-dropdown>
    </div>
    <ng-content select="[right]"></ng-content>
  </div>
  <div class="col-md-6 col-sm-8 p-5">
    <div class="card my-10 p-10">
      <div class="input-group">
        <input class="form-control" type="text" [(ngModel)]="obj.title" name="title" required>
        <label><i class="mdi mdi-pencil ml-5"></i> عنوان : </label>
      </div>
      <div class="input-group mt-10">
        <input class="form-control" type="text" [(ngModel)]="obj.symbol" name="symbol" required>
        <label><i class="mdi mdi-infinity ml-5"></i> نماد : </label>
      </div>
    </div>
    <div class="card my-10 p-10 description">
      <h5 class="px-10"><i class="mdi mdi-notification-clear-all font-16 color-blue ml-5"></i> خلاصه مطلب</h5>
      <hr>
      <div>
        <ckeditor [(ngModel)]="obj.description" [editor]="ckeditor" name="description" required></ckeditor>
      </div>
    </div>
    <div class="card my-10 p-10 body">
      <h5 class="px-10"><i class="mdi mdi-file-document font-16 color-red ml-5"></i> مطلب اصلی</h5>
      <hr>
      <div>
        <ckeditor [(ngModel)]="obj.body" [editor]="ckeditor" name="body" required></ckeditor>
      </div>
    </div>
    <div class="card my-10 p-10">
      <h5 class="px-10"><i class="mdi mdi-file-image font-16 color-green-dark ml-5"></i> تصاویر</h5>
      <hr>
      <div class="my-10">
        <a class="btn-green" (click)="addImage()"><i class="mdi mdi-plus"></i></a>
      </div>
      <div>
        <div class="form-group my-10" *ngFor="let item of images;let index = index">
            <input type="text" class="form-control" [(ngModel)]="item.url" name="image-{{index}}">
            <label><a *ngIf="index > 0" class="color-red p-5" (click)="removeImage(item)"><i class="mdi mdi-close"></i></a> {{item.name ? item.name : 'تصویر شمارۀ ' + index}} : </label>
        </div>
      </div>
    </div>
    <ng-content select="[center]"></ng-content>
  </div>
  <div class="col-md-3 col-sm-4 p-5">
    <div class="card my-10 p-10">
      <h5 class="px-10"><i class="mdi mdi-content-save font-16 color-yellow ml-5"></i> ثبت</h5>
      <hr>
      <div class="form-group my-10">
        <input class="form-control" type="text" [(ngModel)]="obj.publishTime" name="publishTime" #publishTime required>
        <label>زمان انتشار :</label>
        <ss-input-datepicker [input]="publishTime" [(ngModel)]="obj.publishTime" name="publishTimeDatepicker"></ss-input-datepicker>
      </div>
      <div class="mt-10">
        <button class="btn-green ml-5" [ngClass]="{progress:progress}" [disabled]="form.invalid || progress" (click)="oncomplete.emit(1)">ثبت</button>
        <a class="btn-red" (click)="oncomplete.emit(0)">انصراف</a>
      </div>
    </div>
    <div class="card my-10 p-10">
      <h5 class="px-10"><i class="mdi mdi-folder-outline font-16 color-orange ml-5"></i> دسته بندی</h5>
      <hr>
      <ss-input-dropdown [items]="categories" [compareWith]="compareWithId" [(ngModel)]="obj.category" value="name" name="category"></ss-input-dropdown>
    </div>
    <div class="card my-10 p-10">
      <h5 class="px-10"><i class="mdi mdi-chart-areaspline font-16 color-blue ml-5"></i> اطلاعات آماری</h5>
      <hr>
      <h6 class="p-10">تعداد بازدید : {{obj.viewCount}}</h6>
      <h6 class="p-10">آرای مثبت : {{obj.rateP}}</h6>
      <h6 class="p-10">آرای منفی : {{obj.rateN}}</h6>
      <h6 class="p-10">نتیجه آراء : </h6>
      <h6 class="p-10">زمان ثبت : {{obj.creationTime}}</h6>
    </div>
    <ng-content select="[left]"></ng-content>
  </div>
</form>
