<form class="container-xxs" #form="ngForm" autocomplete="off">
  <div class="form-group my-5">
    <input class="form-control" type="text" [(ngModel)]="obj.name" name="name" required/>
    <label>نام : </label>
  </div>
  <div class="form-group my-5">
    <input class="form-control" type="text" [(ngModel)]="obj.symbol" name="symbol" required/>
    <label>نماد : </label>
  </div>
  <ss-input-dropdown class="my-5" label="دسته ی پدر : " value="name" [compareWith]="global.compareWithId" [items]="parents" [(ngModel)]="obj.parent" name="parent" required></ss-input-dropdown>
  <div class="my-10">
    <button class="btn-green ml-5" [ngClass]="{progress:progress}" [disabled]="form.invalid || progress" (click)="confirm()">ثبت</button>
    <a class="btn-red" (click)="cancel()">انصراف</a>
  </div>
  <div *ngIf="message" class="alert-red">{{message}}</div>
</form>
